*.bak
*.x
*.new
bin/addr_server
bin/driver
bin/portbind
haven/bak
haven/Fluff_HAVEN
haven/ftp
haven/log/*
haven/news
haven/realms
haven/save/boxes
haven/save/estates
haven/save/kills
haven/save/phouses
haven/save/pshops
haven/save/shops
haven/save/vehicles
haven/save/adverbs.o
haven/save/alchemy.o
haven/save/banish.o
haven/save/bugs.o
haven/save/clans.o
haven/save/economy.o
haven/save/events.o
haven/save/guild.o
haven/save/intermud.o
haven/save/loot.o
haven/save/notify.o
haven/save/planets.o
haven/save/quotes.o
haven/save/services.o
haven/save/weather.o
haven/secure/save
haven/tmp/*
haven/worlds
