*.bak
*.x
*.new
/bin/addr_server
/bin/driver
/bin/portbind
/lib/bak/*
/lib/Fluff_LIB
/lib/ftp/*
/lib/log/*
/lib/news/*
/lib/realms/*
/lib/save/boxes
/lib/save/estates
/lib/save/kills
/lib/save/phouses
/lib/save/pshops
/lib/save/shops
/lib/save/vehicles
/lib/save/adverbs.o
/lib/save/alchemy.o
/lib/save/banish.o
/lib/save/bugs.o
/lib/save/clans.o
/lib/save/economy.o
/lib/save/events.o
/lib/save/guild.o
/lib/save/intermud.o
/lib/save/loot.o
/lib/save/notify.o
/lib/save/planets.o
/lib/save/quotes.o
/lib/save/services.o
/lib/save/weather.o
/lib/secure/save
/lib/tmp
/lib/worlds
